@import url('https://fonts.googleapis.com/css2?family=Mukta');

:root {
  --dark-green: hsl(121, 31%, 44%);
  --green: hsl(108, 35%, 60%);
  --light-green: hsl(68, 59%, 85%);
}

html {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.navbar {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: var(--dark-green);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar__logo i {
  font-size: 3rem;
}

.navbar__recipes {
  display: none;
  font-size: 2rem;
}

.navbar__hamburger :nth-child(2) {
  display: none;
}

.recipes {
  margin: 80px auto;
  width: 90%;
}

.recipes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.recipes__card {
  display: flex;
  margin: 1.5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.recipes__image {
  width: 100%;
}

.recipes__content {
  width: 100%;
  padding-inline: 20px;
}

.recipes__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipes__title {
  font-size: 1.3rem;
}

.recipes__likes {
  display: block;
  margin-top: -10px;
  margin-bottom: 20px;
}

.recipes__comments,
.recipes__reservations {
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 5px 10px;
}

.recipes__popup {
  display: block;
  width: 85%;
  height: 75%;
  padding: 4%;
  position: fixed;
  background-color: white;
  backdrop-filter: blur(2px);
  top: 12.5%;
  left: 7.5%;
  overflow-y: auto;
}

.recipes__popup_image {
  height: 60%;
  width: auto;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: calc(100% - 30px);
  width: 100%;
  padding: 8px;
  height: 30px;
  background-color: var(--dark-green);
}

.license-rights {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 70px;
    justify-content: space-evenly;
  }

  .navbar__recipes {
    display: block;
  }

  .navbar__hamburger {
    display: none;
  }

  .license-rights {
    font-size: 14px;
  }

  .recipes {
    margin-top: 100px;
    justify-content: flex-start;
    margin-bottom: 100px;
  }

  .recipes__list {
    justify-content: flex-start;
    margin: 0 auto;
  }

  .recipes__card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .recipes__image {
    width: 100%;
  }

  .recipes__content {
    width: 100%;
    padding-inline: 20px;
  }

  .recipes__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recipes__title {
    font-size: 1.3rem;
  }

  .recipes__likes {
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .recipes__comments,
  .recipes__reservations {
    display: block;
    width: 70%;
    margin: 10px auto;
    padding: 5px 10px;
  }
}
